/*fonts*/
@mixin font-face($style-name, $file:$style-name, $weight:normal, $style:normal) {
    $filepath: "../fonts/" + $file;
    @font-face {
        font-family: quote($style-name);
        src: url($filepath + ".eot");
        src: url($filepath + ".eot?#iefix") format('embedded-opentype'),
        url($filepath + ".woff") format('woff'),
        url($filepath + ".ttf")  format('truetype'),
        url($filepath + ".svg#" + $style-name + "") format('svg');
        font-weight: $weight;
        font-style: $style;
    }
}

@include font-face('Calibri', 'Calibri', 400);
@include font-face('Calibri', 'Calibri-Bold', 700);
@include font-face('Calibri', 'Calibri-BoldItalic', 700, italic);
@include font-face('Calibri', 'Calibri-Light', 300);
@include font-face('Calibri', 'Calibri-LightItalic', 300 , italic);


/*/fonts*/
/* helping adds*/

.clear{clear:both;font-size:1px;line-height:1px;height:0;overflow:hidden;}
.cfix:after{content: '';display: block;height: 0;font-size: 1px;line-height: 1px;overflow: hidden;clear: both;}
.juster{display:inline-block;width:100%;height:0;overflow:hidden;}
.jfix-after:after{content: '';display: inline-block;width: 100%;height: 0;overflow: hidden;}
.vfix{height:100%;width:0px;display:inline-block;vertical-align:middle;}
.vfix-before:before{content: '';height: 100%;width: 0;display: inline-block;vertical-align: middle;}

.hidden-block{position:absolute;left:-99999em;top:-99999em;}

/* /helping adds*/

/* ctext */

    .ctext{
        h1, h2, h3, h4, h5, h6{line-height: 1.25;margin-bottom: 15px;font-weight: 700;}
        h1{font-size: 36px;}
        h2{font-size: 32px;}
        h3{font-size: 28px;}
        h4{font-size: 24px;}
        h5{font-size: 20px;}
        h6{font-size: 16px;}
        p{margin-bottom: 10px;font-size: 14px;}
    }

/* /ctext */

/* base styles*/
*,*:before, *:after{box-sizing:border-box;outline:none;}
*,body,html{-webkit-text-size-adjust: none;-webkit-appearance: none;max-height: 9001em;}
html{height:100%;}
body{ min-height:100%;width:100%;min-width:290px; font-family: 'Calibri', arial,sans-serif; font-size: 18px;background:#fff;color:#3d3d3d;position:relative;line-height: 1;

    /* styles for wp-admin panel */

    &.customize-support{
        .wp-panel-show{top:32px;} //fixed elements (if their has top:0) must has class .wp-panel-show
    }

    /* /styles for wp-admin panel */

}
.main{overflow: hidden; position: relative; margin-top: -105px;  padding-top: 105px;}
img{vertical-align:bottom;border:0;max-width:100%;}

/* adapted styles for wp-admin panel */

@media screen and (max-width: 782px){

    body{
        &.customize-support{
            .wp-panel-show{top:46px;}
        }
    }

    #wpadminbar{position: fixed!important;}

}
/* /adapted styles for wp-admin panel */

/* /base styles */

/* wraps styling*/

.mbox{max-width:1170px;width:100%;margin:0 auto;position:relative;z-index:1;}
.mbox:after{content:"";clear:both;font-size:1px;line-height:1px;height:0;overflow:hidden;display:block;}

/* /wraps styling*/


.footer_placeholder{height: 200px;}
.footer{position:absolute;bottom:0;left:0;width:100%;z-index:2;overflow:hidden;}

input, textarea{
    &::-webkit-input-placeholder {color:#c2c2c2;}
    &:-moz-placeholder {color:#c2c2c2;opacity:1;}
    &::-moz-placeholder {color:#c2c2c2;opacity:1;}
    &:-ms-input-placeholder {color:#c2c2c2;}
}
a{text-decoration: none;}
ul{margin: 0; padding: 0}
/*End Layout*/
.btn{
    border: none;
    background: transparent;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    outline: none;
    span{
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 18px;
        width: 245px;
        color: #fff;
        border: 2px solid #fff;
        border-radius: 30px;
        height: 55px;
        transition: 0.2s ease;
    }
}
.btn_green{
    span{background-color: #00a46d;}
    &:hover{span{
        background: #fff;
        color: #00a46d;
        border-color: #00a46d;
    }}
}
.btn_darken-green{
    span{background-color: #009664;}
    &:hover{
        span{background-color: #fff;
        color: #009664;
        }
    }
}
.btn_big{
    span{text-transform: uppercase; font-weight: bold;}
}
.btn_grey{
    span{
        border-color: #d2d4d6;    background-color: #fff;    color: #656566;
    }
    &:hover{span{border-color: #fff;   background-color: #d2d4d6; border-color: #d2d4d6; color: #fff; }}
}
.btn_white{
    span{background-color: #fff; color: #007a52;}
    &:hover{
        span{background-color: #007a52; color: #fff; border-color:#007a52; }
    }
}

.btn_red{
    span{
        background: #ff4a4a; 
        border-color: transparent;
        background: -moz-linear-gradient(left, #ff4a4a 0%, #de2121 100%);
        background: -webkit-linear-gradient(left, #ff4a4a 0%,#de2121 100%); 
        background: linear-gradient(to right, #ff4a4a 0%,#de2121 100%);
    }
    &:hover{
        span{
            color: #ff4a4a;
            background: #fff;
            border-color: #ff4a4a;
        }
    }
}
.fancybox-enabled body{
    height: initial !important;
}
.fancybox-close-small {
position: absolute;
right: -19px;
top: -20px;
background: #df2c2c;
border-radius: 50%;
width: 36px;
height: 36px;
// opacity: 0.3;
}
.fancybox-close-small:hover:after{background: #fff}
.fancybox-close-small:focus:after{outline: none;}
.fancybox-close-small:hover {opacity: 1;}
.fancybox-close-small:before, .fancybox-close-small:after {
position: absolute;
left: 15px;
border-radius: 0px;
content: ' ';
height: 18px;
    top: 50%;
    left: 50%;
    margin-top: -9px;
    margin-left: -2px;
width: 4px;
background-color: #fff;
}
.fancybox-close-small:before {transform: rotate(45deg);
}
.fancybox-close-small:after {transform: rotate(-45deg);
}
.fancybox-slide > *{
    overflow: initial;
    margin:0;
    padding: 0;
}
.fancybox-container--ready .fancybox-bg{
    background: #e2e2e2;
}
.top-fon{
    position: absolute;
    right: -26.5%;
    top: -315px;
    z-index: -1;
} 
.top-left-fon{
    position: absolute;
    left: -150px;
    z-index: -2;
    top: -180px;
    max-width: none;
}
.popup{position: relative;  max-width: 945px;  margin: 40px; border: 1px solid #c9cccf;  border-radius: 10px;
    -webkit-box-shadow: 0px 3px 38px -1px rgba(112,112,112,1);
-moz-box-shadow: 0px 3px 38px -1px rgba(112,112,112,1);
box-shadow: 0px 3px 38px -1px rgba(112,112,112,1);
    &__title{border-top-right-radius: 10px; border-top-left-radius: 10px;
        padding: 25px 0;
        background-color: #edf0f3;
        span{color: #009161;}
        h5{  font-weight: bold; font-size: 46px; text-align: center; margin: 0;  }
    }
    &__form-row-center{justify-content: center}
    &__text{ color: #b8b8b8;
        a{font-weight: bold; text-decoration: underline; color: #595959; }}
    .form_input input{ height: 50px;width: 100%; border: 1px solid #edf0f3;     padding: 0 20px;}
    &__form-row-wrap{padding: 53px 65px 40px; background-color: #fff;border-bottom-right-radius: 10px; border-bottom-left-radius: 10px;}
    &__form-row{display: flex;  flex-direction: row;  flex-wrap: wrap;  width: 100%;    }
}
.call_success{
    .call-subtitle{
        font-size: 20px;  text-align: center; line-height: 30px;    margin-bottom: 30px;
    }
}

    .contact-form-row{display: flex;  flex-direction: row;  flex-wrap: wrap;  width: 100%;    }
    .contact-form-item{  width: 50%;   margin-bottom: 23px;    }
    .contact-form-item:nth-child(odd){   padding-right: 15px;    }
    .contact-form-item:nth-child(even){ padding-left: 15px;   }
    .contact-form-item.contact-form-item_center{ width: 100%; padding-right: 0; padding-left: 0; text-align: center; padding-top: 45px;}
    
    .contact-form-item-textarea{ width: 100%;
        textarea{width: 100%;min-height: 120px; border: 1px solid #edf0f3; resize: none;     padding: 12px 20px;}
    }

.form_input-inner{position:relative;}
.form_input-text{ color: #c2c2c2; pointer-events:none; position: absolute; font-size: 17px; top: 50%; transform: translateY(-50%); left: 22px;
span{color: #f0b1b1;}
}


.header{
    position: relative;
    z-index: 999;
    &_menuBtn{
      display: none;
    }
    &__wrap-box, &__wrap-box-nav{  display: flex;  flex-direction: row; align-items: center; justify-content: space-between; }
    &__wrap-box-nav{width: 76%;}
    &__nav{
        display: flex;
        flex-direction: row;
        padding-top: 40px;
        width: 100%;
    }

    &__wrap-nav{width: 490px;}
    &__nav-item{
        list-style-type: none;
        flex-grow: 1;
    }
    &__nav-link{color: #777; position: relative;
        &:hover{color: #000}
        &:before{ content: ''; width: 100%; height: 2px; background-color: #008d5d;  transition: all 100ms; opacity: 0;   position: absolute; bottom: 5px;}
    }
    &__nav-link:hover:before{    opacity: 1;  bottom: -2px;}
    &__btn{
        padding-top: 25px;
        padding-right: 30px;
        .btn:hover{
            span{
            background-color: #fff;
            color: #00926a;
        }
        }
    }
}
.section-report{     padding-top: 45px; padding-bottom: 153px;
    .cols-wrap{ display: flex; flex-direction: row; position: relative;
        .col-left{width: 100%; max-width: 585px;}
    }
    &__title{     font-size: 50px;    margin: 15px 0px;    line-height: 70px;}
    &__text{line-height: 30px;   max-width: 500px;    margin: 43px 0px 70px; 
       span{
            font-weight: bold;
        }
    }
    &__img-wrap{position: absolute;   left: 52%; width: 920px;}
    &__btns{ display: flex; flex-direction: row;
    .btn{margin-right: 30px;
        span{letter-spacing: 2px;}
    }
    }
    &__img-wrap.open{
    animation-name: example;
    animation-duration: 1.4s;
    animation-fill-mode: forwards;
    }
}
@keyframes example{
    0%{ left: 52%;}
    25%{ left: 50%; transform: translateX(-50%) scale(1.5);}
    50%{ left: 50%; transform: translateX(-60%) scale(2.3) }
    75%{ left: 50%; transform: translateX(-60%) scale(2.3); opacity: 1;}
    100%{ left: 50%; transform: translateX(-60%) scale(2.3); opacity: 0;}
}
.video{ position: absolute;   height: 100vh; opacity: 0; transition: opacity 0.5s;
    width: 100%; left: 0; top: 0; position: absolute; z-index: 5;   display: none;
    iframe{    width: 100vw;
    height: 100vh;}
    &.show{ opacity: 1; position: fixed; z-index: 1000;}
    &__btn-wrap{ position: absolute; right: 75px;  top: 13px; }
    &__btn-close{position: relative;    border: none; border-radius: 50%; border: none; width: 22px; height: 22px; background: #e5e5e5;
        &:hover{background: #fff}}
    &__btn-close:before, &__btn-close:after{
        position: absolute;
        left: 15px;
        border-radius: 0px;
        content: ' ';
        height: 15px;
        top: 50%;
        left: 50%;
        margin-top: -7px;
        margin-left: -1px;
        width: 2px;
        background-color: #333;
    }
    &__btn-close:before {transform: rotate(45deg);
    }
    &__btn-close:after {transform: rotate(-45deg);
    }
}
.section{
    &__title{
        font-size: 56px;
        font-weight: bold;
        color: #363636;
        text-align: center;
        margin: 0;
        padding: 45px 0 50px;
    }
    &__title_while{
        color: #fff;
    }
}
.section-pain{padding-top: 45px;     padding-bottom: 62px;
    &__cols{display: flex; flex-direction: row; flex-wrap:wrap;}
    &__col{width: 50%;}
}
.item-box{
    padding: 30px 0;
    line-height: 30px;
    &__icon{
      padding-bottom: 40px;
    }
    &__inner{max-width: 345px;}
    &__title{
        position: relative;
        font-size: 30px;
        text-transform: uppercase;
        letter-spacing: 12px;
        padding-bottom: 20px;
        margin:0;
    }
    &__title_green{ color: #1b824d; }
    .item-box__title-line{
        &:before{
            content: '';
            position: absolute;
            bottom: 0;
            height: 3px;
            width: 60px;
            background: #06a36c;
        }
    }
    &__text{
        font-size: 20px;
        padding: 30px 0;
        line-height: 30px;
        span{
            font-weight: bold;
        }
    }
}
.section-functional{
    position: relative;
    background-color: #fafafa;
    padding-bottom: 20px;
    margin-bottom: 60px;
    &:before, &:after{content: ""; position: absolute; width: 100%;
    background-size: contain; background-repeat: no-repeat; background-size: 1366px 57px;}
    &:before{   top: -57px;   background-image: url(../images/section-func-fon.png);  height: 82px;
    }
    &:after{    bottom: -57px;  background-image: url(../images/section-func-fon.png); transform: rotate(180deg); height: 82px;}
    &__wrap-img{    position: absolute; width: 700px; top: 0;
 }
    &__box{    margin-top: 57px;   position: relative;  padding-bottom: 60px;}
    &__col5{width: 42%;}
    &__row{display: flex; flex-direction: row;}
    &__row1{justify-content: flex-end;
        .section-functional__wrap-img{  right: 50%;}
    }
    &__row2{justify-content: flex-start; padding-bottom: 110px;
    }
    &__templates{ padding-bottom: 170px;
        .section-functional__item{     padding-top: 80px;    }
        .section-functional__wrap-img{width: 766px; top: 9px; left: 41%;}
    }
    &__filters{ padding-bottom: 100px;
        .section-functional__wrap-img{width: 711px; top: -20px;}
    }
    &__tables{ padding-bottom: 105px;
        .section-functional__item{    padding-top: 50px;}
        .section-functional__wrap-img{width: 700px;}
    }
    &__xls{ padding-bottom: 125px;
        .section-functional__item{    padding-top: 90px;}
        .section-functional__wrap-img{width: 766px;     left: 39%;}
    }
    // &__col6_circle{position: relative;}
    &__item{    padding: 20px 36px 0 5px;}
    &__item-title{line-height: 50px; font-weight: 400;}
    &__item-text{margin: 10px 0; font-size: 20px; line-height: 30px; padding: 0 35px; position: relative;
        &:before{ content:''; position: absolute; left: 2px; top: 50%;transform: translateY(-50%); width: 4px; height: 83%; background-color: #ee2324;}
    }
    .wrap-circle3{ position: absolute;  left: 2%; top: -33%;   z-index: -1;
        .circle3_1{position:absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); height: 393px; width: 393px; border-radius: 50%; border: 1px solid #f7f7f7; background: transparent;}
        .circle3_2{position:absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); height: 667px; width: 667px; border-radius: 50%; border: 1px solid #f7f7f7; background: transparent;}
        .circle3_3{position: relative; height: 955px; width: 955px; border-radius: 50%; border: 1px solid #f7f7f7; background: transparent;}
        // f7f7f7
    }
    .circle2{position: absolute; left: -20%;  top: -65%;}
}
.slider{
    &__item-content{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-weight: 300;
        display: none;
    }
    &__item{
        position: relative;
         display: flex;
       align-items: center;
       justify-content: center;
       padding-top: 20px;
       padding-bottom: 20px;
    }
    &__item-img{
        transition: 0.2s ease-out;
        transform: scale(0.5) translate(20px, 30px);
        opacity: 0.7;
        display: inline-block;
        border: 1px solid #ece9e7;
        border-radius: 50%;
        overflow: hidden;
        
    }
    
    &__item-text{padding-bottom: 55px; font-style: italic; font-size: 21px; color:#595959; font-weight: 300;
        div{ padding-bottom: 10px; text-align: center;}
        span{
            font-weight: bold;
        }
    }
    &__item-title{       text-align: center; letter-spacing: 13px;    padding-bottom: 15px;font-size: 30px; text-transform: uppercase; color: #ee2323;}
    &__item--subtitle{ font-weight: 300; font-size: 18px; color: #aaaaaa; display: flex; flex-direction: column;
        align-items: center;
        justify-content: center;
    span{
        color: #7f7f7f; font-size: 16px; font-weight: 400; padding-top: 2px;
    } }
    &__item-content-clone{  padding-top: 60px; min-height: 256px;
        .slider__item-content{display: block;}
    }
}
.slider__item-wrap.slick-current{
    .slider__item-img{
        transform: scale(1);
        opacity: 1;
        transition: 0.2s ease-out;
        -webkit-box-shadow: 0px 3px 38px -1px rgba(112,112,112,1);
        -moz-box-shadow: 0px 3px 38px -1px rgba(112,112,112,1);
        box-shadow: 0px 3px 38px -1px rgba(112,112,112,1);
    }
}
.slider__item-wrap.slick-current + .slick-slide .slider__item-img {transform: scale(0.5) translate(-30px, 30px)}
.slider-container{
    position: relative;
    width: 600px;
    margin: 0 auto;

    &:before, &:after{
        content: '';
        top: 0;
        position: absolute;
        width: 50px;
        height: 100%;
        z-index: 1;
        background-color: #fff;
    }
    &:before{  left: 0;   }
    &:after{ right: 0;  }
    .slick-list{
        padding: 0;
    }
    .slick-next:before , .slick-prev:before{
        display: block;
        content: "";
        background-image: url(../images/arrow.png);
        width: 16px;
        height: 27px;
    }
    .slick-next:before{
        transform: rotate(180deg);
    }
    .slick-prev, .slick-next{
        z-index: 2;
        width: 16px;
        height: 27px;
        font-size: inherit;
        top: 60%;
    }
    .slick-prev{  left: 55px;}   
     .slick-next{        right: 60px;    }
    .slick-prev:hover:before, .slick-prev:focus:before{
        background-image: url(../images/arrow_green.png);
        transform: rotate(180deg);
    } 
    .slick-next:hover:before, .slick-next:focus:before{
        background-image: url(../images/arrow_green.png);
        transform: rotate(0deg);
    }
}
.section-price{
    padding-top: 155px;
    margin-top: 62px;
    background-image: url(../images/footer-fon.png);
    background-repeat: no-repeat;
    padding-bottom: 100px;
    background-size: cover;
    p{color: #fff; font-weight: 300;     line-height: 22px;}
    &__box{padding-top: 40px;  display: flex;   flex-direction: row;      padding-bottom: 60px;  }
    i{ font-weight: 300; font-style: italic; display: block;  color:#fff;  padding-left: 30px; position: relative;
        &:before{     content: '';  width: 2px; display: block; height: 95%; position: absolute;  left: 0; top: 0; background-color: #fff;
        }
    }
    b{ font-weight: 700;      line-height: 18px;  }
    &__content{
        a{border-bottom: 1px solid #fff; display: inline-block;   color: #fff;
            &:hover{    border-bottom: 1px solid transparent;}
        }
    }
    .col_x2:last-child{padding: 0 30px 0 25px;}
    &__btns{    display: flex;    flex-direction: row;    justify-content: center;
        .btn{ margin: 0 29px 0 0;
            span{font-size: 20px; letter-spacing: 2px;}
        }
        .btn_darken-green{  span{border: 1px solid #fff;}}
    }
}
.col_x2{
    width: 50%;
    padding: 0 65px 0 0px;
}
.footer{
    padding: 45px 0;
    background-color: #595959;
    &:before{
        content: '';
        display: block;
        width: 100%;
        height: 12px;
        position: absolute;
        left: 0;
        bottom: 0;
        background: #477063;
    }
    &__box{display: flex; flex-direction: row; justify-content: space-between; align-items: center;}
    &__copyright{ z-index: -1; padding-right: 10%; position: absolute; top: 0; left: 0; right: 0; bottom: 0; display: flex; align-items: center; justify-content: center;
     p{color: #f6f6f6; font-size: 14px;       }}
    &__social-list{display: flex; flex-direction: row;align-items: center;  justify-content: center;}
    &__box{svg{fill: #acacac;}}
    &__social-list{    padding-right: 20px; padding-bottom: 10px;
        svg{height: 26px;width: 26px;
            &:hover{fill: #09ba7f;}
        }
        li{list-style-type: none; padding-left: 17px;
            a{display: block;}
            &:first-child{padding-left: 0;}
        }
    }
    .wrap-logo-in{padding:  0 5px 5px 0;}
}
.timeman-block{position: absolute; left: -40px; width: 245px;
    background: #535c6a;
    padding: 12px 15px 15px;
    bottom: -33px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; color: #efeff0;
    .time-big{
    font-size: 45px;
    font-weight: 300; letter-spacing: -2px;
    }
}
.timeman-info{
    margin-bottom: 10px;
}
.timeman-info, .timeman-beginning-but{position: relative;    padding-left: 15px;
    vertical-align: top;}
.timeman-info:before, .timeman-beginning-but:before{
    background: url(../images/svg/tm-sprite.svg) no-repeat 100px;
    background-size: cover;
    content: '';
    left: 3px;
    top: 4px;
    position: absolute;
    width: 19px;
    height: 15px;}
.timeman-info:before{background-position: 0 -467px;}
.timeman-beginning-but:before{background-position: 0 -394px;height: 17px;  left: 0;  top: 2px;}
.timeman-beginning-but{    padding-left: 24px; font-size: 16px;
    span{text-transform: uppercase;  font-weight: 300;}} 
.section-pain-slider{
  .section-pain__col{width: inherit;}
}
@media (max-width: 1240px){
    .mbox{padding: 0 15px;}
}
@media (max-width: 991px){
  .top-left-fon{
    left: -456px;
    top: -147px;
    width: 1592px;
    max-width: none;
  }
  .section-functional {
      .wrap-circle3 {
            left: 39%;
          top: 43%;
        .circle3_3{
            height: 500px;
            width: 500px;
          }
        .circle3_2{
            height: 300px;
            width: 300px;
        }
        .circle3_1{
            height: 130px;
            width: 130px;
        }
      }
      .circle2{
            left: 10%;
           top: 40%;
      }
  }
  .section-functional__row{
    flex-direction: column-reverse;
  }
  .section-functional__box{
    margin-top: 5px;
    padding-bottom: 10px;
  }
  .section-functional__filters, .section-functional__tables, .section-functional__xls, .section-functional__templates{padding-bottom: 15px;}
  .section-functional__row2{flex-direction: column}
  .section-functional__row .section-functional__wrap-img{left: inherit}
  .section-functional__row1 .section-functional__wrap-img{right: inherit}
  .section-functional__col5{width: 70%; margin: 0 auto;}
  .section-functional__wrap-img{position: relative;}
  .section-functional__box .section-functional__item{padding: 20px 35px 0 35px;}
  .item-box__title{    letter-spacing: 7px;}
    .section-report__img-wrap{
        display: none;
    }
    .section-report .cols-wrap .col-left{
        max-width: inherit;
        text-align: center;
    }
    .section-report{
      padding-bottom: 40px;
    }
    .section-report__text{max-width: inherit; }
    .section-report__btns{justify-content: center;}
    .header{
      &__btn{padding-top:40px;
        padding-bottom: 60px;
        padding-right: 0;}
        &__nav{
            flex-direction: column;
            align-items: center;
            padding-top: 43px;
        }
        &__wrap-nav{
          padding-top: 100px;
          width: auto;
        }
        &__wrap-box-nav{
          width: 100%;
          position: absolute;
          flex-direction: column;
          left: 0;
          top: 0;
          z-index: 999;
          background: #00885a;
          transform: translateY(-100%);
          transition: transform .2s ease;
        }
        &__wrap-box-nav.active{
          transform: translateY(0%);
          padding-bottom: 60px;
        }
        &__nav-item{
          margin-bottom: 35px;
        }
        &__nav-link:before{
          background-color: #ffffff;
        }
        &__nav-link{
              color: #fff;
            font-weight: bold;
            text-transform: uppercase;
            letter-spacing: 2px;
            font-size: 24px;
        }
        &__menuBtn{position: relative; 
          display: block;
          padding-right: 50px;
          &:before{    
            content: '';
            display: block;
            background-image: url(../images/icon-menu-btn.png);
            width: 38px;
            height: 24px;
            position: absolute;
            top: 0;
            z-index: 1000;
            left: 0;
            transition: transform .2s ease;
          }
        }
        &__menuBtn.active{
          &:before{
            background-image: url(../images/icon-btnClose.png);
            width: 28px;
            height: 28px;
            top: -2px;
            left: 3px;
          }
        }
        &__menuBtn-wrap{
          position: absolute;
          right: 20px;
          top: 45px;
        }
    }

}
@media (max-width: 768px){
  .contact-form-item{width: 100%;}
  .contact-form-item:nth-child(even){padding-left: 0;}
  .contact-form-item:nth-child(odd){padding-right: 0;}
  .section-functional__col5{width: 100%;}
  .section-functional__row .section-functional__wrap-img{width: 100%;}
    .section__title{    font-size: 42px; padding: 10px 0 25px;}
    .item-box__inner{
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      justify-content:  center;
      align-items: center;
    }
    .item-box__text{text-align: center;}
    .item-box .item-box__title-line:before{
      margin-left: -3px;
      left: 50%;
    }
    .section-pain__col{width: 100%;}
    .section-price{
        &__box{flex-direction: column;}
        .col_x2{
            width: 100%; padding: 0;
        }
        .col_x2:last-child{padding: 0;}
    }
    .top-fon{
      top: -230px;
    }
    .footer{
        &__box{
            flex-direction: column;
        }
        &__copyright{
          padding-right: 0;
          position: relative;}
        &__social-list{padding: 40px 0 20px;}
    }
    .section-reviews{
      padding-bottom: 95px;
    }
    .section-price{
        &:before{
            content: '';
            background-image: url(../images/wiev-green.png);
            background-size: 768px 86px;
            background-repeat: no-repeat;
            position: absolute;
            top: -79px;
            left: 0;
            right: 0;
            height: 86px;
            background-position: 0 0;
        }
        position: relative;
        margin-top: 85px;
        padding-top: 70px;
        background-position: 0 0;
        background-image: url(../images/bg-green.png);
        background-size: 768px 100%;
        padding-bottom: 100px;
        
    }
}
@media (max-width: 680px){
  .section-functional__row .section-functional__wrap-img{
    width: 100%;
  }
  .section-report__btns{
    flex-wrap: wrap;
  }
  .section-report__btns .btn{
    margin: 0 10px 10px;
  }
      .header__logo{
            margin-top: 20px;
        svg{
          height: 74px;
          width: 110px;
      }}
    .section-price {
        i:before{
            display: none;
        }
        p{
            text-align: center;
        }
    }
    .slider__item-content-clone{
        padding-top: 35px;
    }
    .slider-container{
        width: auto;
    }
    .slider__item-wrap.slick-current + .slick-slide .slider__item-img{
        transform: scale(0.5) translate(-30px, 15px);
    }
    .slider__item-img{
        transform: scale(0.5) translate(20px, 15px);
    }
    // .slider-container .slick-prev, .slider-container .slick-next{top:55%;}
}
@media (max-width: 620px){
  .popup__title h5{font-size: 30px;}
  .section-functional__item-title{
    font-size: 30px;
    line-height: 40px;
  }
  .section-report__title{
    font-size: 35px;
    line-height: 44px;
  }
  .section__title{
    font-size: 36px;
    line-height: 40px;
  }
  .section-report{
    padding-bottom:  70px;
    padding-top: 20px;
    &__text{
      margin: 10px 0px 36px;
      line-height: 24px;
    }
  }
  .section-pain{padding-bottom: 65px;}
    .section-price{padding-bottom: 50px;
        &__box{
            padding-top: 20px;
            padding-bottom: 30px;
        }
        &__btns {
            flex-wrap: wrap;
            .btn{
                margin: 0 15px 10px 15px; 
            }
        }
        .col_x2:last-child{
            display: none;
        }
    }
    .top-fon{
      right: -25.5%;
    top: -127px;
    z-index: -1;
    width: 500px;
    }
}
.section-pain-slider.hidden, .section-functional-slider.hidden{
  height: 1px;
    padding: 0;
    visibility: hidden;
    overflow: hidden;
}
@media (max-width: 480px){
  .mbox{padding: 0 6px}
  .section-functional {
    .circle2{
        left: -40%;
        top: 40%;
      }
    .wrap-circle3 {
      .circle3_2{
          height: 280px;
        width: 280px;
      }
      .circle3_3{
        height: 430px;
        width: 430px;
      }
    }
  }
  .section-functional_desktop, .section-pain-desktop{display: none;}
  .section-functional__box{cursor: pointer;}
  .section-functional-slider{
        padding-bottom: 10px;
    .section-functional__box .section-functional__item{    padding: 15px 25px 0 25px;}
    .section-functional__item-title{    
    letter-spacing: 4px;    
    font-size: 23px;
    line-height: 33px;
    text-align: center}
    .section-functional__item-text:before{display: none;}
    .section-functional__item-text{
      margin: 5px 0;
      font-size: 18px;
      line-height: 24px;
      padding: 0 10px;
      text-align: center;
    }
    .section-functional__col5{margin-bottom: 60px;}
    .section-functional__row{overflow: hidden;}
    .section-functional__col6{left: -48px;}
    .slider-container .slick-prev, .slider-container .slick-next{top: 34%;}
  }
  .section-pain-slider{
    .slider-container .slick-prev, .slider-container .slick-next{top: 44%;}
    .item-box__icon{padding-bottom: 30px;}
    .item-box__text{
      font-size: 20px;
      padding: 24px 23px;
      line-height: 23px;
      text-align: center;
    }
    .item-box__title{
      letter-spacing: 0;
    }
  }
  .popup__title{
    padding: 25px 5px;
    h5{font-size: 24px;}
  }
  .popup{margin: 30px 10px;}
  .timeman-block{
    left: -10px;
  }
  .fancybox-close-small{right: -9px;}
  .popup__form-row-wrap{    padding: 30px 10px 40px;}
    .slider__item-text{
        font-size: 18px;
        padding-bottom: 20px;
        line-height: 24px;
    }
    .slider__item-title{
        font-size: 24px;
        letter-spacing: 3.5px;
        font-weight: 400;
    }
    .slick-list{
       padding: 0 !important;   
    }
    .slider-container:before, .slider-container:after{
        display: none;
    }
    .slider-container .slick-prev{left: 0px;}
    .slider-container .slick-next{right: 0px;}
    .section-price{
        margin-top: 55px;
        padding-top: 10px;
        &:before{
          top: -60px;
        } 
        i{padding-left: 0}
        p{line-height: 24px; margin: 12px 0 0}
    }
    .slider__item-content-clone { padding-top: 0px;}
    .section-price__box{padding-top: 10px; padding-bottom: 0px;}
    .section-price__btns{padding-top: 35px;}
    .footer{ padding: 45px 0 35px; }
    .top-fon{    
      right: -22%;
    top: -35px;
    width: 210px;}
    .header__menuBtn{padding-right: 40px;}
    .item-box .item-box__title-line:before{margin-left: -30px;}
    .section-price{
      background-image: url(../images/bg-green32.png);
      background-size: 480px 100%;
      &:before{
          background-image: url(../images/wiev-green32.png);
          background-size: 480px 86px;
      }
    }
    .section-reviews{
      padding-bottom: 50px;
    }
  .slider__item{
        padding-bottom: 35px;
  }
  .top-left-fon{
    top: -142px;
  }
}
@media (max-width: 320px){
  .section-price{
      background-image: url(../images/bg-green32.png);
      background-size: 320px 100%;
      &:before{
          background-image: url(../images/wiev-green32.png);
          background-size: 320px 86px;
      }
    }
}